ALCHEMY_API_KEY=
COINMARKETCAP_API_KEY=
ETHERSCAN_API_KEY=
FORKING=false
HARDHAT_NETWORK=hardhat

HARDHAT_MAX_MEMORY=4096
HARDHAT_SHOW_STACK_TRACES=true
HARDHAT_VERBOSE=true
INFURA_API_KEY=
MNEMONIC=
REPORT_GAS=false

PUBLIC_KEY=
PRIVATE_KEY=
ACCESS_ADDRESS=0x771790344cF99EDfC6403f26E8E4593d3307de88
GREETER_ADDRESS=0x0a79012B15aA61c4ebD460973a0Ec56EDC9d3132

MAINNET_RPC_URL=
RINKEBY_RPC_URL=